.pizza-card {
    border: #CDCCC8 1px solid;
    background-color: #F2F2F2;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.pizza-card:hover {
    background-color: #FFD8B9;
}
.pizza-card .pizza-desc{
    padding: 0; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pizza-card h1{
    font-size: 5vw;
    font-weight: 700;
}

.pizza-img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

  @media screen and (max-width: 992px) {
    .pizza-card .pizza-desc{
        font-size: 2.5vw;
        
    }
  }
  @media screen and (min-width: 992px) {
    .pizza-card .pizza-desc {
        font-size: 1.7vw;

    }
  }
  @media screen and (min-width: 1200px) {
    .pizza-card .pizza-desc {
        font-size: 1.4vw;
    }
  }

  @media screen and (max-width: 600px) {
    .pizza-card .pizza-desc{
        margin-top: -10px;

    }
  }