
.basket-wrapper {
    margin-top: 100px;
}

.basket-item {
    border: grey solid 1px;
    border-radius: 25px;
    margin: 10px;
    height: 100px;
}

.basket-item .pizza-img{
    margin-top: 8px;
    float: left;
    width: 80px;
}
.basket-item .pizza-desc{
    font-weight: 900;
    font-size: 28px;
    margin-top: 10px;
    float: left;
    margin-left: 40px;
}

.basket-item .pizza-desc .pizza-size{
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

.basket-item .pizza-price{
    float: right;
    margin-top: 35px;
    margin-right: 5vw;
    /* border: red dotted 5px; */
}

.basket-item .right .delete-button{
    margin-top: 20px;
    font-size: 30px;
    float: right;
    min-width: 50px;
    width: 8vw;
    height: 100%;
    /* border: black dotted 5px; */
}
.basket-item .delete-button:hover{
    font-weight: 900;
}

.basket-item:hover {
    background-color: #FFD8B9;
}

/* BAKET SUMMARY */
.basket-wrapper .summary{
    /* width: 100px; */
    margin: 40px;
    text-align: right;
}

/* BAR */
.basket-bar {
    height: 80px;
    width: 100vw;
    color: whitesmoke;
    background-color: black;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    border-bottom: grey solid 1px;
    font-size: 20px;
    padding: 10px;
    /* Set the navbar to fixed position */
    bottom: 0;
    /* Position the navbar at the top of the page */
}

.basket-bar-item {
    float: left;
    margin: 10px;
}

.basket-bar .pizza-img {
    width: 50px;
    height: 50px;
}

.basket-bar .bar-button{
    /* position: absolute;
    bottom: -5px;
    right: 50px; */

    margin: 0;
    position: absolute;
    top: 50%;
    right: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}