.nav-bar {
    height: 80px;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    border-bottom: grey solid 1px;
    font-size: 20px;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
}

.nav-bar .left-nav {
    margin-top: 22px;
    margin-left: 40px;
    display: inline-block;
    float: left;
    position: relative;
}

.nav-bar .left-nav .nav-avatar{
    width: 50px;
    position: relative;
    bottom: 3px;
    right: 10px;
}

.nav-bar .right-nav {
    margin-top: 22px;
    margin-right: 40px;
    display: inline-block;
    float: right;
    position: relative;
}

