.payment-main {
    margin-top: 100px;
}

.payment-img {
    width: 15vw;
}

.paymentForm-wrapper{
    margin-top: 100px;
}

.paymentForm-wrapper .paymentForm input{
    width: 30vw;
    padding: 10px;
    border: grey 1px solid;
    border-radius: 25px;
    display: block;
    margin: 15px auto;
}

.paymentForm {
    text-align: center;
    margin: 40px 0;
}

.card-wrapper {
    margin: 0 auto;
    width: 50%;
}

.blik-wrapper{
    color: black;
}

