.payment-main {
    margin-top: 120px;
}

.order-list {
    /* border: grey solid 1px;
    border-radius: 50px; */
    margin: 10px;
}

.order-list ul li {
    list-style-type: none;
    padding: 10px;
}

.payment-img {
    width: 15vw;
}

#paymentForm-wrapper input {
    width: 30vw;
    padding: 10px;
    border: grey 1px solid;
    border-radius: 25px;
    display: block;
    margin: 15px auto;
}

.paymentForm {
    text-align: center;
    margin: 40px 0;
}

.card-wrapper {
    margin: 0 auto;
    width: 50%;
    /* border: violet 2px dotted; */
}

.blik-wrapper{
    color: black;
}